<div class="footer">
    <div class="footer-con">
        <div class="footer-ribbon">
            <span>联系我们</span>
        </div>
        <div class="footer-row">
            <div class="footer-title">留言</div>
            <p>直接在输入框内输入您留言的内容，点击发送留言按钮，即可给我们留言</p>
            <form action="">
                <div class="footer-input">
                    <input type="text" placeholder="输入留言内容" style="position: relative;float: left;width: 100%;
                        height:29px">
                    <span class="footer-btn">
                            <button>发送留言</button>
                        </span>
                </div>
            </form>
        </div>
        <div class="footer-row2">
            <div class="footer-title">联系我们</div>
            <ul class="footer-row2-list">
                <li>
                    <div class="footer-row2-item">
                        <img src="{IMG_ADD}phone.png" alt="" style="width: 12px;height: 15px;margin: 7px 8px 10px 0;float: left;">
                        <span style="display: block;margin-top: 2px;float: left;">电话号码：18813021849</span>
                    </div>
                </li>
                <li>
                    <div class="footer-row2-item">
                        <img src="{IMG_ADD}email.png" alt="" style="width: 12px;height: 13px;margin: 7px 8px 10px 0;float: left;">
                        <span style="display: block;margin-top: 2px;float: left;">Email：</span>
                        <a href="" style="color: #fff;float: left;padding: 0;margin: 0;">service@qiyemh.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-row3">
            <div class="footer-title">社交账号</div>
            <ul class="footer-row3-con">
                <li style="width: 30px;height: 30px;border-radius: 50%;background-color: #fff;float: left;position: relative;top:114px">
                    <a href="" style="width: 13px;height: 13px;">
                        <img src="{IMG_ADD}qq.png" alt="" style="margin:8px 8px;">
                    </a>
                </li>
                <li style="width: 30px;height: 30px;border-radius: 50%;background-color: #fff;float: left;position: relative;top:114px;margin:0 5px">
                    <a href="" style="width: 13px;height: 13px;">
                        <img src="{IMG_ADD}wx.png" alt="" style="margin:8px 8px;">
                    </a></li>
                <li style="width: 200px;height: 224px;margin-left: 70px;">
                    手机扫码二维码或长按识别加好友
                    <img src="{IMG_ADD}erweima.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-end">
        <div class="end-con">
            <div class="end-row">
                <a href="">首页</a>
                <span>|</span>
                <a href="">业界新闻</a>
            </div>
            <div class="end-row2">
                <span>友情链接：</span>
                <a href="">甘肃中天住人集装箱有限公司</a>
                <span>|</span>
                <a href="">安博瑞乐 UMBRELLA</a>
                <span>|</span>
                <a href="">嘉兴力基计量技术有限公司</a>
                <span>|</span>
                <a href="">上海嘉设计</a>
                <span>|</span>
                <a href="">Cqs资源共享</a>
                <span>|</span>
                <a href="">马先森说</a>
                <span>|</span>
                <a href="">Onedayits</a>
                <span>|</span>
                <a href="">Reach the Sky</a>
                <span>|</span>
                <a href="">苏州蔓越莓珠宝</a>
                <span>|</span>
                <a href="">四川碧泰建筑工程有限公司</a>
                <span>|</span>
                <a href="">3filmwork</a>
                <span>|</span>
                <a href="">东莞市远丰饰品有限公司</a>
                <span>|</span>
                <a href="">Obeauty Hair Co.Ltd</a>
                <span>|</span>
                <a href="">远求信息咨询</a>
                <span>|</span>
                <a href="">金色黄河彩钢配件钻尾螺丝</a>
                <span>|</span>
                <a href="">智能团科技</a>
                <span>|</span>
                <a href="">酣客公社</a>
                <span>|</span>
                <a href="">金樘研究院</a>
                <span>|</span>
                <a href="">上谷智联</a>
                <span>|</span>
                <a href="">持续集成知识点</a>
                <span>|</span>
                <a href="">大圣新文娱</a>
                <span>|</span>
                <a href="">门源县城乡投资有限责任公司官网</a>
                <span>|</span>
                <a href="">朱桥小学</a>
                <span>|</span>
                <a href="">HFR shenzhen Limited</a>
                <span>|</span>
                <a href="">四川澳博环保科技有限公司</a>
                <span>|</span>
                <a href="">更多》</a>
            </div>
            <div class="end-row3">
                <div class="end-row3-left">
                    <span>Copyright @ 2015-2020 企业门户网 版权所有 | 由</span>
                    <a href="">企业门户网</a>
                    <span>提供技术支持</span>
                </div>
                <div class="end-row3-right">
                    <span>由</span>
                    <a href="">阿里云</a>
                    <span>提供可靠云服务 | 由</span>
                    <a href="">又拍云</a>
                    <span>提供CDN和图片存储计算服务 |</span>
                    <a href="">皖ICP备13019729号</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 回到顶部按钮 -->
<div href="" class="top">
    <img src="{IMG_ADD}top.png" alt="">
</div>
