<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
<form action="{ENTRY_ADD}/admin/category/add" method="post" class="add1">
    <input type="text" placeholder="添加一级栏目" name="cname"><br><br>
    <select name="isshow">
        <option value="1">在导航可见</option>
        <option value="0">在导航不可见</option>
    </select>
    <br><br>
    <input type="text" name="tpl_name" placeholder="请输入对应的模板">
    <br><br>栏目描述：
    <textarea name="info" cols="30" rows="10"></textarea>
    <br><br>
    <input type="submit" value="添加">
</form>
</div>
</body>
</html>