<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.css">
    <script src="{JS_ADD}jQuery.js"></script>
</head>
<body>
<div class="container" style="margin-top: 20px">
    <form action="" class="form-inline">
        <div class="form-group">
        <lable>选择分类：</lable>
            <select name="cid" id="cid" class="form-control"></select>
        </div>
        <div class="form-group">
            <lable>标题关键字：</lable>
            <input type="text" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                正序<input type="checkbox">
            </label>
        </div>
        <input type="submit" value="查询">
    </form>
    <table class="table table-bordered" style="margin-top: 20px">
        <tr>
            <th>所属分类</th>
            <th>标题</th>
            <th>操作</th>
        </tr>
        {foreach $data as $v}
        <tr>
            <td>
                {$v["cname"]}
            </td>
            <td>
                {$v["ctitle"]}
            </td>
            <td>
                <a href="/2006/MVC/index.php/admin/content/show?conid={$v['conid']}">查看</a>
                <a href="/2006/MVC/index.php/admin/content/edit?conid={$v['conid']}">编辑</a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
<script src="{JS_ADD}addcon.js"></script>
</body>
</html>